@model FirmaYonetim.Models.ViewModel
@{
    ViewBag.Title = "Index";
}
<head>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
</head>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Firmalarınız</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-blue">
                        <div class="card-header">
                            <h3 class="card-title" style="margin-top:10px;">Firmalarınız Listelenmiştir.</h3>
                            <a href="#" data-toggle="modal" data-target="#modal-defaultEkle" class="btn btn-success" style="float:right;">Firma Ekle</a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Firma Adı</th>
                                        <th>Oluşturulma Tarihi</th>
                                        <th>İlgili Kişi</th>
                                        <th>İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var company in Model.companyList)
                                        {
                                            <tr id="@company.Id">
                                                <td>@company.Name</td>
                                                <td>@company.CreateDateTime</td>
                                                <td>@company.CreatedByUser.Name @company.CreatedByUser.Surname</td>
                                                <td style="width: 15%;">
                                                    <a href="/Company/Detail/@company.Id" class="btn btn-primary">DETAYLAR</a>
                                                    <a href="#" data-toggle="modal" data-target="#modal-sm" class="btn btn-danger btnDelete">SİL</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Firma Adı</th>
                                        <th>Oluşturulma Tarihi</th>
                                        <th>İlgili Kişi</th>
                                        <th>İşlem</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->


                <div class="col-12">
                    <div class="card card-orange">
                        <div class="card-header">
                            <h3 class="card-title" style="margin-top:10px;">Sizle Paylaşılan Firmalar Listelenmiştir.</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Firma Adı</th>
                                        <th>Oluşturulma Tarihi</th>
                                        <th>İlgili Kişi</th>
                                        <th>İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var sharedCompany in Model.sharedCompanyList)
                                    {
                                        <tr id="@sharedCompany.Id">
                                            <td>@sharedCompany.company.Name</td>
                                            <td>@sharedCompany.company.CreateDateTime</td>
                                            <td>@sharedCompany.company.CreatedByUser.Name @sharedCompany.company.CreatedByUser.Surname</td>
                                            <td style="width: 15%;">
                                                <a href="/SharedCompany/Detail/@sharedCompany.company.Id" class="btn btn-primary">DETAYLAR</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Firma Adı</th>
                                        <th>Oluşturulma Tarihi</th>
                                        <th>İlgili Kişi</th>
                                        <th>İşlem</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<div class="modal fade" id="modal-defaultEkle">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/Company/Add" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Firma Ekleme Modalı</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ad</label>
                        <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Ad giriniz...">
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-success">Ekle</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-sm">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Veri Silme</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bu Firmayı Silmek İstediğine Emin Misin?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                <a href="#" class="btn btn-danger btnDeleteConfirm">Eminim, Sil</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- jQuery -->
<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/Content/plugins/jszip/jszip.min.js"></script>
<script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="~/Content/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/Content/dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["excel", "pdf"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
<script>
    const butons = document.querySelectorAll(".btnDelete");
    Array.from(butons).forEach(buton => {
        buton.addEventListener("click", () => {
            console.log(buton.parentElement.parentElement.id);
            localStorage.setItem("deleteItemId", buton.parentElement.parentElement.id);
        });
    });
    document.querySelector(".btnDeleteConfirm").addEventListener("click", () => {
        window.location.href = "/Company/Delete/" + localStorage.getItem("deleteItemId");
    });
</script>